

#s2 {
	position: relative;
}

.dscr-txt2 {
	padding-left: 60%;
}

.dscr-txt2 p {
	width: 80%;
	font-size: 1.1rem;
	line-height: 1.4;
}

@media screen and (orientation: portrait) and (max-width:767px) {

	.dscr-txt2 {
		width: 100%;
		margin: auto;
		margin-top: 2em;
		max-width: 500px;
	}
}